.bookmark {
  .set,
  .get {
    color: #bd5100 !important;
    text-transform: uppercase;
    background: #ffffff;
    padding: 5px;
    border: 0px solid #bd5100 !important;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    // &:hover {
    //   color: #494949 !important;
    //   border-radius: 50px;
    //   border-color: #494949 !important;
    //   transition: all 0.3s ease 0s;
    // }
    &:focus {
      outline: none;
      border: 0px solid #ff6d00 !important;
    }
  }
  .get {
    margin-left: 5px;
  }
}
