<!-- <p>form pagination component {{ currentPage }}</p> -->
<div class="pagination">
  <span class="prev" *ngIf="currentPage > 0"
    ><a class="prev" id="prev" (click)="prevPageData()">Previous | </a></span
  >
  <span class="next"
    ><a class="next" id="next" (click)="nextPageData()"> Next</a></span
  >
</div>

<div class="pagination">
  <span class="" *ngFor="let loop3 of counter(11); let i = index"
    ><a [routerLink]="['/home']" [queryParams]="{ currentPage: i }"
      >{{ i }}
    </a></span
  >
</div>
